name="sapience-test"
version="1.1.0"

[var.settings]
owner = "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266" #1 from anvil
owner2 = "0x70997970C51812dc3A010C7d01b50e0d17dc79C8" #2 from anvil

# Initialization of UMAResolver
assertionLiveness = "21600"
bondAmount = "500000000"
maxPredictionMarkets = "3"

# Prediction Markets 
minCollateral = "1000000"

depends = []

[clone.CollateralAsset]
source="mintable-token@permissionless-mint"
target="sapience@test-collateral-asset"
var.symbol="wstETH"

[clone.BondCurrency]
source="mintable-token@permissionless-mint"
target="sapience@test-bond-currency"
var.symbol="USDC"
var.decimals = "6"

[clone.UMA]
source="uma-oov3"
target="sapience@uma-mock"
options.defaultCurrency = "<%= BondCurrency.Token.address %>"
options.minimumBond = "0"

[deploy.PredictionMarket]
artifact="PredictionMarket"
args=[
  "Prediction Market",
  "SPM",
  "<%= CollateralAsset.Token.address %>",
  "<%= settings.minCollateral %>"
]
depends=[]
highlight=true

[deploy.UMAResolver]
artifact="PredictionMarketUmaResolver"
args=[
  { maxPredictionMarkets = "<%= settings.maxPredictionMarkets %>", optimisticOracleV3 = "<%= UMA.OptimisticOracleV3.address %>", bondCurrency = "<%= BondCurrency.Token.address %>", bondAmount = "<%= settings.bondAmount %>", assertionLiveness = "<%= settings.assertionLiveness %>"},
  [ "<%= settings.owner2 %>" ]
]

depends=["deploy.PredictionMarket"]
