name="sapience"
version="1.1.0"

[var.settings]
owner = "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
baseAssetMinPriceTick = "16000" # 5
baseAssetMaxPriceTick = "39000" # 50
feeRate = "10000" # 1%
startingSqrtPriceX96 = "345347553882095649185803010048" # 19
assertionLiveness = "21600"
bondAmount = "5000000000"
claimStatement = "<%= stringToHex('The sum of gas used divided by the sum of base fees paid on Ethereum Mainnet across all blocks, divided by the wstETH/ETH ratio at the end of the period, represented with 18 decimal places') %>"
minTradeSize = "10000"
depends=[]

[clone.UMA]
source="uma-oov3"
target="sapience@uma-mock"
options.defaultCurrency = "<%= BondCurrency.Token.address %>"
options.minimumBond = "0"

[clone.CollateralAsset]
source="mintable-token@permissionless-mint"
target="sapience@test-collateral-asset"
var.symbol="wstETH"

[clone.BondCurrency]
source="mintable-token@permissionless-mint"
target="sapience@test-bond-currency"
var.symbol="USDC"
var.decimals = "6"

[invoke.gimmeTokens]
target="CollateralAsset.Token"
func="mint"
args=["<%= parseEther('1000') %>", "<%= settings.owner %>"]
depends=["clone.CollateralAsset"]

[invoke.gimmeTokens2]
target="CollateralAsset.Token"
func="mint"
args=["<%= parseEther('1000') %>", "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"]
depends=["clone.CollateralAsset"]

[invoke.gimmeTokens3]
target="CollateralAsset.Token"
func="mint"
args=["<%= parseEther('1000') %>", "0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC"]
depends=["clone.CollateralAsset"]